@import url(null.css);


.body {
	margin: 200px 0 0 500px;
	background-color: rgb(30, 13, 88);
	width: 300px;
	height: 180px;
    position: relative;

}
.body__head {
    background-color: rgb(30, 13, 88);
	border-radius: 43% 55% 0% 0% / 100% 91% 48% 60%  ;
	width: 350px;
	height: 90px;
	position: absolute;
	content: "";
	right: 6px;
	top: -90px;

}
.body__face {
	background-color: rgb(30, 13, 88);
	border-radius: 0% 83% 30% 0% / 100% 100% 47% 62%   ;
	width: 390px;
	height: 180px;
	position: absolute;
	content: "";
	right: -200px;
	top: 0;
}
.body__back {
	background-color: rgb(30, 13, 88);
	border-radius: 23% 0% 0% 34% / 12% 10% 10% 88% ;
	width: 200px;
	height: 180px;
	position: absolute;
	content: "";
	left: -200px;
	top: 0;
}
.block {
	background-color: rgb(30, 13, 88);
	width: 170px;
	height: 50px;
	position: absolute;
	content: "";
	left: 239px;
	top: -18px;
	transform: rotate(40deg);
	border-radius: 20px;
	
}
.block_back {
	left: -150px;
	top: -35px;
	transform: rotate(140deg);
}

.body__window { 
	width: 150px;
	height: 60px;
	border: 4px solid gray;
	border-radius: 84% 0% 0% 51% / 61% 68% 93% 0%  ;
	background-color: rgb(255, 255, 255);
	position: absolute;
	content: "";
	top:-65px;
	left: -28px;
}
.body__window_two { 
	width: 140px;
	border-radius: 0% 93% 0% 46% / 100% 68% 93% 0%  ;
	left: 133px;
}
.body__window_three {
	width: 6px;
	height: 62px;
	border: 2px solid gray;
	border-radius: 0% 44% 39% 0% / 6% 47% 49% 10%   ;
	left: 305px;
	transform: rotate(-50deg);
}
[class*="body__wheel"] {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: rgb(58, 61, 61);
	border: 3px solid rgb(107, 104, 104);
	box-shadow: 0 0 3px 10px rgb(0, 0, 0);
	position: absolute;
	content: "";
	bottom:-26px;
}
.body__wheel-left {
	left: -95px;
}
.body__wheel-right {
	right: -80px;
}

[class*="decoration"] {
	position: absolute;
    border-radius: 100% 100% 50% 47% / 100% 100% 100% 100%  ;
    background: rgb(255, 255, 255);
    width: 130px;
    height: 150px;
    top: 109px;
}
.decoration-left {
	left: -116px;
}
.decoration-rigth {
	right: -100px;
}
[class*="item"] {
	width: 20px;
	height: 20px;
	border: 2px solid gray;
	border-radius: 63% 39% 100% 0% / 100% 44% 56% 0% ;
	box-shadow: 0 0 2px 3px rgb(43, 27, 27);
	background-color: rgb(0, 0, 0);
	position: absolute;
	content: "";
}
.item-1 {
	bottom:22px;
	right: -72px;
	transform: rotate(20deg);
}
.item-2 {
	bottom:38px;
	right: -48px;
	transform: rotate(-40deg);
}
.item-3 {
	bottom:-10px;
	right: -28px;
	transform: rotate(180deg);
}
.item-4 {
	bottom:-10px;
	right: -62px;
	transform: rotate(100deg);
}
.item-5 {
	bottom:20px;
	right: -20px;
	transform: rotate(240deg);
}
.item-6 {
	bottom:18px;
	left: -84px;
	transform: rotate(240deg);
}
.item-7 {
	bottom:-12px;
	left: -76px;
	transform: rotate(180deg);
}
.item-8 {
	bottom:37px;
	left: -58px;
	transform: rotate(-45deg);
}
.item-9 {
	bottom:17px;
	left: -34px;
	transform: rotate(15deg);
}
.item-10 {
	bottom:-12px;
	left: -44px;
	transform: rotate(90deg);
}
.door {
	width: 130px;
	height: 130px;
	background-color: rgb(30, 13, 88);
	position: absolute;
	content: "";
	top: 10px;
	left: 131px;
	border-radius: 0% 0% 80% 57% / 26% 29% 15% 10%  ;
	border: 1px solid #000;
}
.door_left {
	left: 0;
	border-radius: 0% 0% 80% 57% / 26% 29% 8% 18%   ;
	
}
.door__element {
	width: 20px;
	height: 8px;
	background-color: #000;
	position: absolute;
	top: 5px;
	left: 7px;
}
.headlight {
	width: 13px;
	height: 52px;
	background-color: rgb(253, 243, 197);
	border: 2px solid #000;
	border-radius: 0% 100% 100% 1% / 0% 53% 49% 0% ;
	position: absolute;
	top: 73px;
	right: -200px;
	transform: rotate(-20deg);
}
.headlight-back {
	width: 15px;
	height: 50px;
	background-color: rgb(253, 243, 197);
	border: 3px solid #000;
	border-radius: 100% 100% 3% 100% / 100% 0% 0% 100% ;
	position: absolute;
	top: 13px;
	left: -202px;

}